[Desktop Entry]
Version=1.0
Name=Pdc
GenericName=Pdc
Comment=Privacy blockchain
Icon=Pdc
Terminal=true
Type=Application
Categories=Qt;Utility;
Name[en_US]=Pdc
MimeType=x-scheme-handler/pdc;
